
$brand-purple: rgb(135,140,223);
$brand-green: rgb(153,251,198);
$font-size: 1em;
$body-bg : url('../images/bg.png');



body {
    height: 100vh;
    color: $brand-green;
    font-size: $font-size;   
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: visible;
    background: $body-bg;
}

* {
    text-decoration: none;
    list-style-type: none;
}

#gameTable {
    margin: auto;
    // border: 1px solid #333333;
}


#gameTable > ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.avatar {
    margin: auto;
    border-radius: 50%
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.char_box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 220px;
    min-height:180px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin: 2px
}

.d_extra {
    margin: auto
}

.list-item {
    padding: 10px;
}

.d_value {
    text-align: center;
    font-size:12pt;
    background-color:#FFFFFF;
    min-height: 14px;
    color:#000000;
}


.fader-parent {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.title {
    margin: auto;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 5ms ease-in;
}

form {
    font-size: 30px;
    margin: auto
}

form > label > input {
    font-size: 30px;
}
